<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>lao</h1>
<div>
    <h2>你好, " + <%=req.user.username %>+</h2>
    <a href='/logout'>退出</a>
</div>
</body>
</html>