<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>lao</h1>
<div>
        <form method = "post" >

            <input type = "text" name="user_name" />

            <input type = "submit" value = "关联用户">

        </form>

</div>
</body>
</html>