<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>lao</h1>
<div>
    <form method = "post" >

        <input type = "submit" value = "查询App">

    </form>
    <a href='/logout'>退出</a>
</div>
</body>
</html>